html
{background-color: #5179b0;}
div
{
    justify-content:center;
    object-fit: cover;
    align-items:stretch;
}
h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    overflow: visible;
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:Georgia, 'Times New Roman', serif;
    font-weight: lighter;
    
}
video
{
    margin: auto;
    width: 100%;
    justify-content:center;
    object-fit: cover;
}